﻿@model EFCodeFirst.Entities.MatHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MatHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiHang.MaLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaMH">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
